<nav></nav>
<div class="date"><%= Time.now.strftime("%b %e, %Y") %></div>
<div id="city-name" class="city-name"><%= @city_name %></div>

<div class="compare-section">
  <div class="compare-you" style="float: left; text-align: center;">
    You
    <div id="user-aqg"><%= @user_aqg.grade %></div>
  </div>
  <div class="vs" style="float: left;">&nbsp;vs&nbsp;</div>
  <div class="compare-epa" style="float: left; text-align: center;">
    EPA
    <div id="epa-aqg"><%= @epa_aqg.grade %></div>
    <div class="compare-aqi-score"><%= @epa_aqg.aqi %></div>
  </div>
</div>
<hr style="clear: both;"/>
<div id="grade-gradient" class="grade-section" style="clear: both;">
  <div class="pins">
    <%- @slots.each_with_index do |slot, index| %>
        <div class="<%= slot_type_to_css_class(slot.type) %>" style="float: left; width: <%= slot_widths[index]%>%; text-align: center;"><%= slot.label || '&nbsp;'.html_safe %></div>
    <%- end %>
  </div>
  <div class="gradient" style="clear: both;">
    <div style="float: left; width: 10%; text-align: center; background-color: #fff;">A</div>
    <div style="float: left; width: 10%; text-align: center; background-color: #eee;">B</div>
    <div style="float: left; width: 10%; text-align: center; background-color: #ddd;">C</div>
    <div style="float: left; width: 10%; text-align: center; background-color: #ccc;">D</div>
    <div style="float: left; width: 20%; text-align: center; background-color: #bbb;">E</div>
    <div style="float: left; width: 40%; text-align: center; background-color: #aaa;">F</div>
  </div>
  <div class="grade-lines" style="clear: both;">
    <div class="grade-line" style="float: left; width: 10%;">|</div>
    <div class="grade-line" style="float: left; width: 10%;">|</div>
    <div class="grade-line" style="float: left; width: 10%;">|</div>
    <div class="grade-line" style="float: left; width: 10%;">|</div>
    <div class="grade-line" style="float: left; width: 10%;">|</div>
    <div class="grade-line" style="float: left; width: 20%; text-align: center;">|</div>
    <div class="grade-line" style="float: left; width: 30%; text-align: right;">|</div>
  </div>
  <div class="aqi-number-scale" style="clear: both;">
    <div style="float: left; width: 10%;">0</div>
    <div style="float: left; width: 10%;">50</div>
    <div style="float: left; width: 10%;">100</div>
    <div style="float: left; width: 10%;">150</div>
    <div style="float: left; width: 10%;">200</div>
    <div style="float: left; width: 20%; text-align: center;">300</div>
    <div style="float: left; width: 30%; text-align: right;">500</div>
  </div>
</div>
<hr style="clear: both;"/>

<div class="parameters-section">
  <div class="parameter">
    <div class="parameter-name">Ground-Level Ozone</div>
    <div class="parameter-aqi-score">38<span>Today</span></div>
    <div class="parameter-aqi-score">20<span>Average</span></div>
  </div>
  <div class="parameter">
    <div class="parameter-name">Particle Pollution</div>
    <div class="parameter-aqi-score">51<span>Today</span></div>
    <div class="parameter-aqi-score">39<span>Average</span></div>
  </div>
  <div class="parameter">
    <div class="parameter-name">Carbon Monoxide</div>
    <div class="parameter-aqi-score">101<span>Today</span></div>
    <div class="parameter-aqi-score">157<span>Average</span></div>
  </div>
  <div class="parameter">
    <div class="parameter-name">Sulfur Dioxide</div>
    <div class="parameter-aqi-score">45<span>Today</span></div>
    <div class="parameter-aqi-score">25<span>Average</span></div>
  </div>
</div>
