<nav>
  <div class="nav-container">
    <img alt="CompAir" width="89" src="/images/logo.png" />
    <div class="tag-line">How well do you know your air?</div>
  </div>
</nav>
<div class="content-container">
 <div class="header">
  <div class="date"><%= Time.now.strftime("%e") %><br><span class="date-month"><%= Time.now.strftime("%b") %></span></div>
  <div id="city-name" class="city-name"><%= @city_name %></div>
 </div>
 <div class="compare-section">
  <div class="compare-you">
   <div class="you-title">You</div>
   <div id="user-aqg" class="grade-a"><%= @user_aqg.grade %></div>
  </div>
  <div class="compar-vs-box">
  <div class="compare-vs"><span class="vs-position">vs</span></div>
  </div>
  <div class="compare-epa">
   <div class="epa-title">EPA</div>
   <div id="epa-aqg" class="grade-b"><%= @epa_aqg.grade %></div>
   <div class="compare-aqi-score">Today's AQI = <%= @epa_aqg.aqi %></div>
  </div>
 </div>
 
 <div class="text-section">
  <h1>What does this grade mean?</h1>
  <p>Grades are based on an AQI (Air Quality Index) score as seen here:</p>
 </div>

 <div id="grade-gradient" class="grade-section" style="clear: both;">
  <div class="pins">
   <%- @slots.each_with_index do |slot, index| %>
   <div class="<%= slot_type_to_css_class(slot.type) %>" style="float: left; width: <%= slot_widths[index]%>%; text-align: center;"><%= slot.label || '&nbsp;'.html_safe %></div>
   <%- end %>
  </div>
  <div class="gradient" style="clear: both;">
   <div class="grade-box" style="width: 10%; background-color: #FFF; color: #C6B9B0;">A</div>
   <div class="grade-box" style="width: 10%; background-color: #F7F6F6; color: #C6B9B0;">B</div>
   <div class="grade-box" style="width: 10%; background-color: #E4E0DF; color: #CBC3C1;">C</div>
   <div class="grade-box" style="width: 10%; background-color: #CAC2C0; color: #DED9D8;">D</div>
   <div class="grade-box" style="width: 20%; background-color: #B7A8A0; color: #D0C6BE;">E</div>
   <div class="grade-box" style="width: 40%; background-color: #9D8774; color: #D0C6BE;">F</div>
  </div>
  <div class="grade-lines" style="clear: both;">
   <div class="grade-line" style="float: left; width: 10%;"><span class="dotted-line"></span></div>
   <div class="grade-line" style="float: left; width: 10%;"><span class="dotted-line"></span></div>
   <div class="grade-line" style="float: left; width: 10%;"><span class="dotted-line"></span></div>
   <div class="grade-line" style="float: left; width: 10%;"><span class="dotted-line"></span></div>
   <div class="grade-line" style="float: left; width: 10%;"><span class="dotted-line"></span></div>
   <div class="grade-line" style="float: left; width: 20%; text-align: center;"><span class="dotted-line"></span></div>
   <div class="grade-line" style="float: left; width: 30%; text-align: right;"><span class="dotted-line"></span></div>
  </div>
  <div class="aqi-number-scale" style="clear: both;">
   <div class="grade-number" style="float: left; width: 10%;">0</div>
   <div class="grade-number" style="float: left; width: 10%;">50</div>
   <div class="grade-number" style="float: left; width: 10%;">100</div>
   <div class="grade-number" style="float: left; width: 10%;">150</div>
   <div class="grade-number" style="float: left; width: 10%;">200</div>
   <div class="grade-number" style="float: left; width: 20%; text-align: center;">300</div>
   <div class="grade-number" style="float: left; width: 30%; text-align: right;">500</div>
  </div>
 </div>

 <div class="aqi-graph"></div>

 <div class="text-section">
  <p>The day’s AQI score is based on AQI scores from the top polutants. The EPA takes a look at the concentration of each pollutant </p>
 </div>

 <div class="parameters-section">
    <%- @measures.each do |measure| %>
       <div class="parameter">
         <div class="parameter-name"><%= measure.parameter_name %></div>
         <div class="parameter-aqi-score"><%= measure.aqi || '--' %><span>Today</span></div>
         <div class="parameter-aqi-score"><%= measure.aqi_average || '--' %><span>Average</span></div>
       </div>
   <%- end %>
 </div>
</div>
