<nav>
  <div class="nav-container">
    <img alt="CompAir" width="89" src="/images/logo.png" />
    <div class="tag-line">How well do you know your air?</div>
  </div>
</nav>
<div class="content-container">
 <div class="header">
  <div class="date"><%= Time.now.strftime("%e") %><br><span class="date-month"><%= Time.now.strftime("%b") %></span></div>
  <div id="city-name" class="city-name"><%= @city_name %></div>
 </div>
 <div class="compare-section">
  <div class="compare-you">
   <div class="you-title">You</div>
   <div id="user-aqg" class="<%= grade_to_css_class(@user_aqg) %>"></div>
  </div>
  <div class="compar-vs-box">
  <div class="compare-vs"><span class="vs-position">vs</span></div>
  </div>
  <div class="compare-epa">
   <div class="epa-title">EPA</div>
   <div id="epa-aqg" class="<%= grade_to_css_class(@epa_aqg) %>"></div>
   <div class="compare-aqi-score">Today's AQI = <%= @epa_aqg.aqi %></div>
  </div>
 </div>
 
 <div class="text-section">
  <h1>What does this grade mean?</h1>
  <p>Grades are based on an AQI (Air Quality Index) score as seen here:</p>
 </div>

 <div id="grade-gradient" class="grade-section" style="clear: both;">
  <div class="pins">
   <%- @slots.each_with_index do |slot, index| %>
   <div class="<%= slot_type_to_css_class(slot.type) %>" style="float: left; width: <%= slot_widths[index]%>%; text-align: center;"></div>
   <%- end %>
  </div>
  <div class="gradient">
   <div class="grade-box grade-box-a">A</div>
   <div class="grade-box grade-box-b">B</div>
   <div class="grade-box grade-box-c">C</div>
   <div class="grade-box grade-box-d">D</div>
   <div class="grade-box grade-box-e">E</div>
   <div class="grade-box grade-box-f">F</div>
  </div>
  <div class="grade-lines clear">
   <div class="grade-line width-10"><span class="dotted-line"></span></div>
   <div class="grade-line width-10"><span class="dotted-line"></span></div>
   <div class="grade-line width-10"><span class="dotted-line"></span></div>
   <div class="grade-line width-10"><span class="dotted-line"></span></div>
   <div class="grade-line width-10"><span class="dotted-line"></span></div>
   <div class="grade-line width-20"><span class="dotted-line"></span></div>
   <div class="grade-line width-30"><span class="dotted-line"></span></div>
  </div>
  <div class="aqi-number-scale clear">
   <div class="grade-number width-10">0</div>
   <div class="grade-number width-10">50</div>
   <div class="grade-number width-10">100</div>
   <div class="grade-number width-10">150</div>
   <div class="grade-number width-10">200</div>
   <div class="grade-number width-20">300</div>
   <div class="grade-number width-30">500</div>
  </div>
 </div>

 <div class="aqi-graph"></div>

 <div class="text-section">
  <p>The day’s AQI score is based on AQI scores from the top polutants. The EPA takes a look at the concentration of each pollutant </p>
 </div>

 <div class="parameters-section">
    <%- @measures.each do |measure| %>
       <div class="parameter">
         <div class="parameter-name"><%= measure.parameter_name %></div>
         <div class="parameter-aqi-score"><%= measure.aqi || '--' %><br /><span>Today</span></div>
         <div class="parameter-aqi-score"><%= measure.aqi_average || '--' %><br /><span>Avg</span></div>
       </div>
   <%- end %>
 </div>

 <div class="text-section">
  <h1>So, what does this grade mean for you?</h1>
  <p>Depending on the range, people may begin to experience respiratory problems or other health conditions.</p>
  <img style="padding:20px 0;" width="324" src="/images/unhealthy-spectrum.png">
  <p>Some people are more prone to the effects:</p>

  <div class="list-box">
    <div class="list-icon"><img width="45" src="/images/lungs-icon.png"></div>
    <div class="list-item">
      <p>People with with heart or lung diseases (including heart failure and coronary artery disease, or asthma)</p>
    </div>
  </div>
  <div class="list-box">
    <div class="list-icon"><img width="45" src="/images/children-icon.png"></div>
    <div class="list-item">
      <p>Children and teenagers because their lungs are still developing</p>
    </div>
  </div>
  <div class="list-box">
    <div class="list-icon"><img width="45" src="/images/elderly-icon.png"></div>
    <div class="list-item">
      <p>Older adults more prone to lung conditions</p>
    </div>
  </div>
  <div class="list-box">
    <div class="list-icon"><img width="45" src="/images/active-icon.png"></div>
    <div class="list-item">
      <p>Active people of all ages who exercise or work vigorously outdoors</p>
    </div>
  </div>
  <div class="list-box">
    <div class="list-icon"><img width="45" src="/images/normal-icon.png"></div>
    <div class="list-item">
      <p>Some people may not have the above conditions, but may be sensitive to certain pollutants, esp. ozone and particle pollution</p>
    </div>
  </div>
  </div>
  
  <div class="text-section">
    <p>If the AQI is in the unhealthy zone you can minimize the negative health effects:</p>
    <ul>
    	<li>Don’t over exerting yourself while outdoors. Minimize activities that cause heavy breathing</li>
    	<li>If the situation is really serious, reduce the amount of time you spend outdoors</li>
    	<li>Wear a face mask if you’re particularly sensitive</li>
    </ul>
  	<h1>The good news: there are small things you can do to improve air quality!</h1>
  	<ul>
    	<li>Choose a cleaner commute—share a ride to work or use public transportation. Bicycle or walk to errands when possible</li>
    	<li>Refuel cars and trucks after dusk</li>
    	<li>Combine errands and reduce trips</li>
    	<li>Use household, workshop,and garden chemicals in ways that keep evaporation to a minimum</li>
    	<li>Conserve electricity (ex set your air conditioner to 78° F)</li>
    	<li>Reduce or eliminate fireplace and wood stove use</li>
    	<li>Avoid using gas-powered lawn and garden equipment</li>
    	<li>Avoid burning leaves, trash and other materials</li>
    </ul>
  </div>
 
 </div>
</div>
